body{
    margin: auto;
    width: 100%;
}

.container{
    background-color: rgb(143, 133, 231);
    display:flex;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow:row-reverse wrap; 
    flex-direction: column; 
}

.cont_item{
    background-color: rgb(204, 101, 101);
    border: 1px solid black;
}