/* 
    When a child div is set to position: absolute;, it is removed from the normal document flow. This means it no longer affects the layout of other elements, including its parent div. 


*/


useState, useEffect, propos, components, Data. 

