body{
    
    margin: auto;
    width: 1000px;
    background-color: grey;
}

article{
    outline: 3px solid rgb(139, 44, 148);
    border-radius: 10px;
}

header.navigation{
    outline: 3px solid rgb(139, 44, 148);
    margin: auto; 
}
nav{
    /* outline: 3px solid rgb(255, 0, 0); */
    text-align: center;
    display: inline-block;
    width: 1000px;
    margin: auto; 
}

header.navigation, footer{
    background-color: rgb(107, 247, 247);
    border-radius: 10px;
    width:1000px;
    margin: auto; 
    margin-top: 20px; 
    height: 50px;
}


img{
    float: left;
}

.inline-li{
    display: inline; 
    margin-right: 20px;
}

footer{
    outline: 3px solid rgb(139, 44, 148);
    margin-top: 40px;
    display: inline-block;
    clear: both;
    /* margin: auto; */
    text-align: center;
}

section p {
    font-size: 22px;
    
}

section{
    height: 200px;
}


h1,p,li {
    font-family: sans-serif;
    text-align: center;
}